body {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

.main  {
  width: 70%;
  height: 700px;
  background: red;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.top,
.bottom {
  width: 100%;
  height: 45%;
  background: grey;
  margin: 10px;
}

.bottom {
  margin-top: 20px;
}

.images {
  display: flex;
  width: 50%;
  height: 80%;
}

.images div {
  margin: 10px;
  width: 30%;
  height: 80%;
  border: 1px solid black;
}

.sanfran {
  background-image: url("../img/san-francisco.jpg");
}

.ny {
  background-image: url("../img/new-york.jpg");
}

.uk {
  background-image: url("../img/london.jpg");
}

.napa {
  background-image: url("../img/napa.jpg");
}

.soma {
  background-image: url("../img/sonoma.jpg");
}

.sf {
  background-image: url("../img/san-francisco-2.jpg");
}

.header, .header2 {
  text-align: center;
  font-size: 25px;
  line-height: 30px;
}

span {
  display: block;
  font-size: 10px;
  line-height: 25px;
}
